.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 1128px;
  margin: 24px auto;
}

.gallery-image {
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scaleX(1.04) scaleY(1.02);
}
